* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Div_Heading {
    background-color: #333333;
    border-bottom:  2px solid #a417ed;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
}

.Div_Heading_H1 {
    font-size: 23px;
    color: white;
    font-family: 'Uni Sans-Trial';
    font-weight: 350;
    display: inline;
    position: relative;
    top: 18%;
    left: 2%;
    margin-right: 85%;
}

.Div_Img {
    background-image: url("../img/imgfon.png");
    height: 600px;
    width: 100%;
    padding-top: 12%;
}

.A_Form {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Uni Sans-Trial';
    font-weight: 300;
    position: relative;
    top: 17%;
    margin-right: 0.4%;
}

.A_Communiti {
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Uni Sans-Trial';
    font-weight: 300;
    position: relative;
    top: 17%;
}

h2 {
    color: white;
    font-family: 'Uni Sans-Trial';
    font-weight: 400;
    text-align: center;
    font-size: 50px;
}

.Div_N1 {
    background-color: #333333;
    border: 1px solid #a417ed;
    height: 40px;
    margin-bottom: 5%;
    
}

.Div_logoKwizyMess{
    /*background-color: red;*/
    width: 180px;
    height: 180px;
    margin-left: 10%;
    margin-right: 25%;
}

.Div_logoKwizyMess__Img {
    width: 180px;
    height: 180px;
}

.Div_logoKwizyMess_A__KwizyMess {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Uni Sans-Trial';
    font-size: 23px;
}

.Div_logoKwizyMess__P {
    text-align: center;
    font-family: 'Uni Sans-Trial';
    font-weight: 350;
}

.Div_Img_KwForum {
    width: 180px;
    height: 180px;
}

.Div_Img_KwForum {
    width: 180px;
    height: 180px;
    margin-right: 25%;
}

.Div_in_Div {
    display: flex;
}

.Div_Img_KwForum_A {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Uni Sans-Trial';
    font-size: 23px;
}

.Div_Img_KwForum__P {
    text-align: center;
    font-family: 'Uni Sans-Trial';
    font-weight: 350;
}

.Div_Ship {
    width: 180px;
    height: 180px;
}

.Div_Ship__Img {
    width: 180px;
    height: 180px;
}

.Div_Ship__A {
    display: block;
    text-align: center;
    color: black;
    text-decoration: none;
    font-family: 'Uni Sans-Trial';
    font-size: 23px;
}

.Div_Ship__P {
    text-align: center;
    font-family: 'Uni Sans-Trial';
    font-weight: 350;
}